body {
    /*background-color: transparent;*/
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /*opacity: 0.0;*/
}
.container {
    position: absolute;
    right: 5%;
    bottom: 40px;
    width: 575px;
    height: 310px;
    border-radius: 20px;
    background-color: #002a54;
    border: 2px solid #c4c4c4;
}
.content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 5px;
    box-sizing: border-box;
    padding: 20px;
}
.overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-size: 90px;
    border-radius: 20px;
    opacity: 0.25;
    filter: contrast(25%);
}
.slot {
    background-color: #000000;
    margin: auto;
    border-radius: 10px;
}




.car-img {
    position: absolute;
    right: 2%;
    bottom: 2%;
    width: 350px;
    height: auto;
    transform: rotate(180deg);

}
.car-img img {
    width: 350px;
    height: auto;
    align-self: center;
}
.door-control {
    position: absolute;
    right: 2%;
    bottom: 0%;
    width: 350px;
    height: 180px;
    z-index: 99;
    
}
.door {
    position: absolute;
    left: 150px;
    width: 250px;
    bottom: 100px;
}
.door li {
    list-style-type: none;
    color: rgba(240, 255, 255, 0.418);
    display: inline-block;
    font-size: 25px;
    
}
.door li i {
    cursor: pointer;
}
.door li i:hover {
    color: rgba(240, 255, 255, 1);
    text-shadow: 0px 0px 20px #f2ff40;
}
.door-control .left li {
    margin: 30px;
    margin-top: 0%;
}
.door-control .right li {
    position: absolute;
    top :50px;
    z-index: 99;
    left: 30px;
}
.door-control .right li:nth-child(2){
    left: 120px;
}
.fron-back li {
    position: absolute;
    right: 50px;
}
.fron-back li:nth-child(1){
    left: -120px;
}